extends index

block body
  div(class="note-form-page")
    form(action=`/notes/${currentNote._id}`, method="patch")
      div
        input(type="text", id="title", name="title", value=currentNote.title, placeholder="Escribe el título...")
      div
        textarea(name="body", id="body", rows="8", placeholder="Escribe el texto...")= currentNote.body

      div(class="form-actions")
        a(href=`/notes/${currentNote._id}`, class="btn") Cancelar
        button(type="submit", class="btn btn-primary") Actualizar

  script. 
    var textarea = document.getElementById("body");
    var heightLimit = "innerHeight" in window ? window.innerHeight : document.documentElement.offsetHeight;
    heightLimit -= 400;

    function adjustHeight() {
      textarea.style.height = ""; //Reset the height
      textarea.style.height = Math.min(textarea.scrollHeight, heightLimit) + "px";
    }

    textarea.oninput = adjustHeight;
    adjustHeight();

    var form = document.querySelector("form");

    form.addEventListener("submit", function(e) {
      e.preventDefault();

      var title = document.querySelector("#title").value
      var body = document.querySelector("#body").value

      fetch("/notes/#{currentNote._id}", {
        method: "PATCH",
        headers: {"Content-Type": "application/x-www-form-urlencoded; charset=UTF-8"},
        body: `title=${title}&body=${body}`
      }).then(response => {
        window.location = "/notes/#{currentNote._id}";
      }).catch(err => {
        console.log(err);
      });
    });