extends index

block body
  div(class="body-actions")
    a(href=`/notes/${currentNote._id}/edit`)
      i(class="far fa-edit")
    a(href="#", class="btn btn-delete")
      i(class="far fa-trash-alt")

  div(class="body-content")
    h1(class="body-title")= currentNote.title
    div(class="body-text")= currentNote.body
  
  script. 
    var btnDelete = document.querySelector(".btn-delete");
    btnDelete.addEventListener("click", function(e) { 
      e.preventDefault();

      if (confirm("Estas seguro de borrar la nota?")) {
        fetch("#{currentNote._id}", {
          method: "DELETE"
        }).then(response => {
          console.log('success');
          window.location= "/";
        }).catch(err => {
          console.log(err);
        });
      }
    });